alembic==0.8.4
appnope==0.1.0
bcrypt==2.0.0
beautifulsoup4==4.4.1
blinker==1.4
cffi==1.5.2
decorator==4.0.6
Flask==0.10.1
Flask-Bcrypt==0.7.1
Flask-Login==0.3.2
Flask-Mail==0.9.1
Flask-Migrate==1.8.0
Flask-Principal==0.4.0
Flask-Script==2.0.5
Flask-Security==1.7.5
Flask-Session==0.2.3
Flask-SQLAlchemy==2.1
Flask-WTF==0.12
gnureadline==6.3.3
gunicorn==19.4.5
ipython==4.1.0
ipython-genutils==0.1.0
itsdangerous==0.24
Jinja2==2.8
Mako==1.0.3
MarkupSafe==0.23
oauthlib==1.0.3
passlib==1.6.5
path.py==8.1.2
pexpect==4.0.1
pickleshare==0.6
psycopg2==2.6.1
ptyprocess==0.5.1
pycparser==2.14
pymongo==3.2.1
python-editor==0.5
requests==2.9.1
requests-oauthlib==0.6.1
simplegeneric==0.8.1
six==1.10.0
SQLAlchemy==1.0.11
traitlets==4.1.0
tweepy==3.5.0
Werkzeug==0.11.3
WTForms==2.1
