{% extends 'layout.html' %}
{% from 'macros.html' import icon %}
{% block content %}

    <div class="col-md-10" id="groupsContainer">
    {%- for category in categories %}
        <div class="rounded group">
            <a href="{{ url_for('list_todos', name=category.name) }}"><span>{{ category.name }}</span></a>
        </div>
    {%- endfor %}
    </div>
{% endblock %}

<div class="col-md-9">
            {% if todos|count > 0 %}
            <h3 class="lead">Instances of Offense</h3>
            <table id="todo-table" class="table">
               <tr>
                    <th>#</th>
                    <th>URL</th>
                    <th>Category</th>
                    {#<th>Author</th>#}
                    {#<th>Creation date</th>#}
                    <th>Actions</th>
                </tr>
                {%- for todo in todos %}
                    <tr {% if todo.is_done %}class="success"{% endif %}>
                        <td> {{ loop.index }} </td>
                        <td {% if todo.is_done %}style="text-decoration:line-through"{% endif %}>
                            <a href="{{todo.description}}">
                                {{ todo.description }}
                            </a>
                        </td>    
                        <td>{{ todo.category.name }}</td>
                        {#<td>{{ todo.author.name }}</td>#}
                        {#<td>{{ todo.creation_date }}</td>#}
                        <td>
                            <a class="btn btn-xs btn-default{% if todo.is_done %} disabled{% endif %}"  href="{{ url_for('update_todo', todo_id=todo.id) }}" >{{ icon('edit') }} Edit</a>
                            <form id=delform action="{{ url_for('delete_todo', todo_id=todo.id) }}" method="post">
                                <input class="btn btn-xs btn-danger" type="submit" name="delete_todo" value="Delete">
                                {#<a onclick="$('#delform').submit();" class="btn btn-xs btn-danger" id="delete_todo" href="#">{{ icon('trash') }} Delete</a>#}
                            </form>
                            <form id=isdone action="{{ url_for('mark_done', todo_id=todo.id) }}" method="post">
                                <input class="btn btn-xs btn-default" type="submit" name="mark_done" value="Done"{% if todo.is_done %} disabled{% endif %}>
                                <a onclick="$('#isdone').submit()" class="btn btn-xs btn-default" id="mark_done"{% if todo.is_done %} disabled{% endif %}>{{ icon('check') }} Done</a>
                            </form>
                        </td>
                    </tr>
                {%- endfor %}
            </table>
            {% else %}
            <h3 class=lead>No Todos Yet</h3>
            {% endif %}
        </div>
